<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="mvcSiteMap" type="MvcSiteMapProvider.Configuration.MvcSiteMapSection, MvcSiteMapProvider" requirePermission="false" />-->
  </configSections>
  <connectionStrings>
    <!--<add name="reraConn" connectionString="server=10.228.0.96 ;database=rerapunjab_productiondb;user id=sa;password=STD32(***%#)%$$;SslMode=none" />-->
    <!--<add name="reraConn" connectionString="server=10.228.0.103 ;database=rerapunjab_23102024;user id=sa;password=strong@123;SslMode=none;" />-->
    <add name="reraConn" connectionString="server=10.228.0.103 ;database=rera_pb_staging;user id=sa;password=strong@123;SslMode=none" />
  </connectionStrings>
  <appSettings>
    <add key="OpenAI:ApiKey" value="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" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="payuMerchantKey" value="t5aUkm" />
    <add key="payuSalt" value="ZVhH63Gg" />-->
    <add key="imagewebBaseURL" value="https://rera.punjab.gov.in/rera" />
    <add key="payuMerchantKey" value="98d8Yh" />
    <!--general gateway-->
    <add key="payuSalt" value="6thltjA2" />
    <!--general gateway-->
    <add key="payuMerchantKeyEpay" value="Qountz" />
    <add key="payuSaltEpay" value="BrWnr7lm9fWAzKQT2JqzOJ1gEx3Q8LH4" />
    <add key="payuBaseURL" value="https://test.payu.in/_payment" />
    <add key="payuDomainNameURL" value="localhost:51404" />
    <add key="payuApiBaseURL" value="https://info.payu.in/merchant/postservice.php?form=2" />
    <!--<add key="payuDomainNameURL" value="http://recruitment-portal.in/rera10jan"/>-->
    <!--<add key="payuDomainNameURL" value="10.228.0.101/rera10jan"/>-->
    <!-- <add key="payuMerchantKey" value="98d8Yh"/>
    <add key="payuSalt" value="6thltjA2"/>
    <add key="payuBaseURL" value="https://secure.payu.in/_payment"/> 
    
    <add key="payuDomainNameURL" value="https://rera.punjab.gov.in/rera"/>
    <add key="payuDomainNameURL" value="http://recruitment-portal.in/rera10jan"/> -->
    <add key="docpagesBaseURL" value="http://localhost:51404/" />
    <add key="sendemailBaseURL" value="https://rera.punjab.gov.in/rera" />
    <add key="reraEnabledState" value="Punjab" />
    <add key="Hangfire:EpayReverifyCron" value="21 15 * * *" />
    <add key="Hangfire:EpayReverifyLookbackDays" value="28" />
    <add key="Hangfire:EpayReverifyRequestTimeoutMs" value="60000" />
    <add key="Hangfire:EpayReverifyLogDirectory" value="" />
    
  </appSettings>
  <!--<mvcSiteMap enableLocalization="false"
            securityTrimmingEnabled="false"
            cacheEnabled="true"
            siteMapCacheSlidingExpiration="PT5M"
            enableSiteMapFile="true"
            siteMapFile="~/Mvc.sitemap" />-->
  <system.web>
    <httpCookies httpOnlyCookies="true" />
    <sessionState timeout="30" cookieless="UseCookies">
    </sessionState>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <trace enabled="false" localOnly="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="CONNECT" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
          <add verb="PROPFIND" allowed="false" />
          <add verb="COPY" allowed="false" />
          <add verb="LOCK" allowed="false" />
          <add verb="UNLOCK" allowed="false" />
          <add verb="PROPPATCH" allowed="false" />
          <add verb="MKCOL" allowed="false" />
          <add verb="MOVE" allowed="false" />
          <add verb="DELETE" allowed="false" />
          <add verb="SEARCH" allowed="false" />
          <add verb="PUT" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <modules>
      <!--<remove name="FormsAuthenticationModule" />
      <remove name="RoleManager" />-->
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.8.0" newVersion="8.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>